<!--
<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <title>Приложение: сборник рецептов</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
  <body>
    <header id="pageHeader" style="border-radius: 25px;"><h1> My Recipe Book </h1></header>
    
    <nav id="mainNav" style="border-radius: 25px;">
      <p> <h2>Options</h2> </p>
      <p><a class='one' href="/">Main list</a></p>

    </nav>

    <footer id="pageFooter" style="border-radius: 25px;">
      <p> <h2>Bon appetit!</h2> </p>
    </footer>
-->
{% extends "base.html" %}
{% block content %}    
    <article id="mainArticle" style="border-radius: 25px;">
            
        
      <div class =" left_bl ">
        <h2>List of existing products</h2>
        <div style="overflow: auto; height:150px"> 

          {% for a in rows %}
            <h4>{{a.product}}</h4>
          {% endfor %}
        </div>
      </div>
      
      <div class=" right_bl "> 
        <h2> Add a products to your database </h2> 
          <form action="/add_products" method="POST"> 
            {{ form_check.hidden_tag() }}
    
            <p>{{ form_check.title.label }}
            {{ form_check.title(size=30) }}</p>
            <p title = "Get recommended values">{{form_check.check}}</p>

            <p>Recommended values: {{txt}}</p>
    
          <!-- </form>

          <form action="/add_products" method="POST"> -->
            <p>{{ form_add.calories.label }}
            {{ form_add.calories(size=5) }}</p>
    
            <p>{{ form_add.proteins.label }}
            {{ form_add.proteins(size=5) }}</p>
            
            <p onclick="message()">{{ form_add.submit() }}</p> 
          </form>

          <script>
            function message() {
                alert('Thank you!\n You have successfully added the product to the ingredient list');
            }
          </script>

          <script>
            function msg() {
              document.getElementById("msg").innerHTML = 'Thank you!\n You have successfully added the product to the ingredient list'
            }
          </script>
      </div>
    </article> 
    {% endblock %}
    
    <!--
   </body>
</html>-->