<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Recipes</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
  <body>
    <header id="pageHeader" style="border-radius: 25px;">
        <h1> My Recipe Book </h1>
    </header>

    <nav id="mainNav">
        <ul class="navbar-menu">
          <li><a class='one' href="/add_products">Ingredients</a></li>
          <li><a class='one' href="/">Recipes</a></li>
         <li><a class='one' href="/daily_menu">Meals</a></li>
          <li><a class='one' href="{{ url_for('logout') }}">Log out</a></li>
        </ul>
    </nav>

    <footer id="pageFooter" style="border-radius: 25px;">
        <h2>Bon appetit!</h2>
    </footer>

    {% block content %}
    {% endblock %}

    </body>
</html>