<!--
<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <title>Приложение: сборник рецептов</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <header id="pageHeader" style="border-radius: 25px;"><h1> My Recipe Book </h1></header>
        
        <nav id="mainNav" style="border-radius: 25px;">
          <p> <h2>Options</h2> </p>
          <p><a class='one' href="/">Main list</a></p>

        </nav>
    
        <footer id="pageFooter" style="border-radius: 25px;">
          <p> <h2>Bon appetit!</h2> </p>
        </footer>
  -->
  
  {% extends "base.html" %}
  {% block content %}
        <article id="mainArticle" style="border-radius: 25px;">
            <h2> Edit </h2>
            <form action="/edit/{{ id }}" method="POST">
              <div class ="left_bl">
                {{ template_form.hidden_tag() }}
        
                <p>{{ template_form.title.label }}
                {{ template_form.title(size=50) }}</p>
                
                
                <div class="bordered">
                {% for ele in ingredients %}
                <h4> {{ele.ingredient}} </h4> <!-- list of the added ingredients -->
                <!-- <p><a href="/edit_ingred/{{ ele.id }}" {{ele.ingredient}} </a><p> -->
                {% endfor %}
                </div>

                <p><h6>Add an ingredient</h6></p>
                <p>{{ add_ingr.ingredient.label }} <!-- name of the ingredient -->
                  {{ add_ingr.ingredient() }}</p>
      
                <p>  {{ add_ingr.weight.label }}
                {{ add_ingr.weight() }}</p>
                  
                <p align="center">{{ add_ingr.add() }}</p> <!-- Button Add an ingredient -->
              </div>

              <div class ="right_bl">
                <p>{{ template_form.instructions.label }}</p>
                
                <p>{{ template_form.instructions(style='height: 200px;  width: 400px;') }}</p>
                <h6>Are you ready to update the recipe?</h6>
                <p align ="center">{{ template_form.submit() }}</p>
              </div>
              </form>
        </article>  
  {% endblock %}  
    <!--
      </body>
</html>-->